{% extends 'rentals/layout.html' %}
{% load static %}
{% block style%}
class = "bg2"
{% endblock %}
{% block content %}

<style>
    #searchid {visibility: hidden}
    #backbutton {}
    </style>
<div class="display_detail">
    <h3>{{car.car_makename|capfirst}}</h3>
    <p>Model: {{car.car_model}}</p>
    <p>Series: {{car.car_series}}</p>
    <p>Fuel system: {{car.car_fuelsystem}}</p>
    <p>Standard transmission: {{car.car_standardtransmission}}</p>
    <p>Body type: {{car.car_bodytype}}</p>
    <p>Drive: {{car.car_drive}}</p>
    <p>Series year: {{car.car_seriesyear}}</p>
    <p>Engine: {{car.car_enginesize}}</p>
    <p>Power: {{car.car_power}}</p>
    <p>Price: AUD{{car.car_pricenew}}</p>
    <p>Seating capacity: {{car.car_seatingcapacity}}</p>
    <p>Tank capacity: {{car.car_tankcapacity}}</p>
    <p>Wheel base: {{car.car_wheelbase}}</p>
    <form id="back">
  <input id='backbutton' type="button" value="Go back to search" onclick="history.back()">
</form>
</div>
{% endblock %}