{% extends 'rentals/layout.html' %}
{% block style%}
class = "bg2"
{% endblock %}
{% block search %}
    <p></p>
{% endblock %}

{% block content %}
    <style>
    #searchid {visibility: hidden}
    </style>
    {% if error_message %}
    <div class="alert">
    <p><strong>{{ error_message }}</strong></p>
    </div><br>
    {% endif %}
<br>
<br>
    <form action = "{% url 'create_account' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
{% endblock %}
