{% extends 'rentals/staff_layout.html' %}
{% load static %}

{% block style%}
class = "bg2"
{% endblock %}


{% block content %}
<style>
    #searchid {visibility: hidden}
    </style>
<div id="outputs">
<form id="back">
  <input id='backbutton' type="button" value="Go back" onclick="history.back()">
</form>
</head>
<strong>Most Rented Car</strong></p>
<br>
</br>
<body>
<p><strong>Data Summary</strong></p>
<img src="{% static 'image/Most_rented_car.jpg' %}" width=" 1000px">
<table id="DataSummary">
  <tr>
    
    <div>
        <div>
            
            <th onclick="sortTable(0)">{{labels.0}} &#8597;</th>
            
            <th onclick="sortTable(1)">{{labels.1}} &#8597;</th>
            
        </div>
    </div>
    
    
  </tr>
    {% for data in most_rented%}
    
    <tr>
    <td>{{data.0}}</td>
    <td>{{data.1}}</td>
    </tr>
  
  {% endfor %}
</table>
<script>
function sortTable(n) {
alert("Loading Data");
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("DataSummary");
  switching = true;
  //Set the sorting direction to ascending:
  dir = "asc"; 
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /*check if the two rows should switch place,
      based on the direction, asc or desc:*/
      if (dir == "asc") {
        if (Number(x.innerHTML) > Number(y.innerHTML)) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (Number(x.innerHTML) < Number(y.innerHTML)) {
          //if so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      //Each time a switch is done, increase this count by 1:
      switchcount ++;      
    } else {
      /*If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again.*/
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>
</body>
</html>

<!DOCTYPE html>
<html>
<head>
<style>
table {
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th {
    cursor: pointer;
}

th, td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}
</style>
{% endblock %}