{% extends 'rentals/staff_layout.html' %}
{% load static %}

{% block style%}
class = "bg2"

{% endblock %}

{% block search %}
{% endblock %}

{% block content %}
<style>
    #searchid {visibility: hidden}
    </style>
<div id="outputs">
<form id="back">
  <input id='backbutton' type="button" value="Go back" onclick="backtostaff()">
</form>
</head
<br>
<input id = "url" type = "text" name = "url" 
                        placeholder = "Enter ID of Customer to edit"> 
<input type = "submit" name = "button" onclick = "editdata()"> 
</br>
<body>
<p><strong>Cars Database</strong></p>
<table id="DataSummary1">
  <tr>
    {% for name in labels%}
    <div>
        <div>
            {% if name == "ID" %}
            <th onclick="sortTableNum(0)">{{name}} &#8597;</th>
            {% elif name == "Make Name" %}
            <th onclick="sortTable(1)">{{name}} &#8597;</th>
            {% elif name == "Series Year" %}
            <th onclick="sortTable(4)">{{name}} &#8597;</th>
            {% elif name == "Price New" %}
            <th onclick="sortTableNum(5)">{{name}} &#8597;</th>
            {% elif name == "Engine Size" %}
            <th onclick="sortTable(6)">{{name}} &#8597;</th>
            {% elif name == "Fuel System" %}
            <th onclick="sortTable(9)">{{name}} &#8597;</th>
            {% elif name == "Power" %}
            <th onclick="sortTableNum(10)">{{name}} &#8597;</th>
            {% elif name == "Seating Capacity" %}
            <th onclick="sortTable(13)">{{name}} &#8597;</th>
            {% elif name == "Drive" %}
            <th>{{name}} &#8597;</th>
            {% else %}
            <th>{{name}}</th>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    
  </tr>
    {% for car in data%}
    
    <tr>
    {% for field in car%}
    <div>
        <div>
            {% if loop.index == 0 %}
            
             <td>{{field}}</td> 
            
            {% else %}
            <td>{{field}}</td>
            {% endif %}
        </div>
    </div>
    {% endfor %}
  </tr>
  
  {% endfor %}
  
  
 
</table>

<script> 
function backtostaff() { 
        window.location = "http://localhost:8000/staff/";
} 
</script>

<script> 
function editdata() { 
    var str2= document.getElementById("url").value;
    var valid = false;
    {% for car in data%}
        if (str2=={{car.0}}){
            valid = true;
        }
    {% endfor %}
    if (valid == false){
        alert("Please input a valid ID")
    } else {
        var str1="http://localhost:8000/admin/rentals/car/";
        var str3="/change/";
        var res = str1.concat(str2);
        var url= res.concat(str3); 
        window.location = url;
    }
} 
</script> 

<script>
function sortTableNum(n) {
alert("Loading Data");
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("DataSummary");
  switching = true;
  //Set the sorting direction to ascending:
  dir = "asc"; 
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /*check if the two rows should switch place,
      based on the direction, asc or desc:*/
      if (dir == "asc") {
        if (Number(x.innerHTML) > Number(y.innerHTML)) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (Number(x.innerHTML) < Number(y.innerHTML)) {
          //if so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      //Each time a switch is done, increase this count by 1:
      switchcount ++;      
    } else {
      /*If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again.*/
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>

<script>
function sortTable(n) {
alert("Loading Data");
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("DataSummary");
  switching = true;
  //Set the sorting direction to ascending:
  dir = "asc"; 
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /*check if the two rows should switch place,
      based on the direction, asc or desc:*/
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      //Each time a switch is done, increase this count by 1:
      switchcount ++;      
    } else {
      /*If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again.*/
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>
</body>
</html>

<!DOCTYPE html>
<html>
<head>
<style>
table {
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th {
    cursor: pointer;
}

th, td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}
</style>

{% endblock %}

{% block recommend %}
hello



{% endblock %}