{% load static %}
<html lang="en-US">
<html>
<head>
	<meta charset="UTF-8">
	<title>Car Rental </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" type="text/css" href="{% static 'style/mystyle.css' %}">
    <link rel="shortcut icon" href="{% static 'image/favicon.png' %}"/>
</head>
<body {% block style%} {% endblock %}>
    <div class= "allcontain">
        <div class = "header">
            <a href="http://localhost:8000"><img src="{% static 'image/icon.png' %}"  class = "icon"></a>
            <ul class = "logreg">
                <li><a href="{% url 'maps' %}">Location</a> </li>
                <li><a href="{% url 'login' %}">{{ tag1 }}</a> </li>
                <li><a href="{% url 'create_account' %}"><span class="register">{{ tag2 }}</span></a></li>
            </ul>
        </div>
    </div>
    {% block content %} 
    {% endblock %}
</body>
</html>