{% extends 'rentals/layout.html' %}
{% load static %}
{% block style%}
class = "bg1"
{% endblock %}

{% block content %}
    <!-- {% if user.is_authenticated %}
    <p>Welcome {{ user.username }} !!!</p>       
    {% endif %} -->
    <script>
            var message = '{{ message }}';
                if ( message == "Logged out successfully!!!"){
                    alert('{{ message }}');
            }
    </script>

<br>
    <h2 id="rec">Recommendations</h2>
    <ol>
    
    {% for car in cars%}
    
    <div id='searchdiv'>
        <a id="searchlinks" href="{% url 'user_car_detail' car.car_id %}">
         <div class="lefhalf"><img id="questionmark" src="{% get_static_prefix %}image/Car/{{car.car_makename}}/{{car.car_makename}}{{car.car_model}}.jpg"  class = "icon"></div></a>
        <div class="righthalf">
            
                <li id="singleli">{{car.car_makename|capfirst}} {{car.car_model}}</li>
            
            <p id="features"><b>Features:</b> {{car.car_fuelsystem}} {{car.car_bodytype}} {{car.car_standardtransmission}}</p>
            <p id="series"><b>Series:</b> {{car.car_series}}</p>
            <p id="capacity"><b>Capacity: </b>{{car.car_seatingcapacity}} seats {{car.car_tankcapacity}}</p>
        
        </div>
    </div>
    {% endfor %}
</ol>
{% endblock %}
{% block search %}
    <style>
        label {
    display: inline;
    
}
</style>
<div id="search-form">
    <form action = "/search/" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Search">
    </form>
</div>
{% endblock %}


