{% load static %}
<html lang="en-US">
<html>
<head>
	<meta charset="UTF-8">
	<title>Car Rental </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" type="text/css" href="{% static 'style/mystyle.css' %}">
    <link rel="shortcut icon" href="{% static 'image/favicon.png' %}"/>
</head>
    <style>
    #searchid {visibility: visible}
    </style>
    
<body {% block style %} {% endblock %}>
    <div class= "allcontain">
        <div class = "header">
            <a href="{% url 'index' %}"><img src="{% static 'image/icon.png' %}"  class = "icon"></a>
            
        
            <ul class = "logreg">
                <li id="locations"><a href="{% url 'maps' %}">Store Locations</a> </li>
                <li><a href="{% url 'login' %}">{{ tag1 }}</a> </li>
                <li><a href="{% url 'create_account' %}"><span class="register">{{ tag2 }}</span></a></li>
            </ul>   
        </div>
    </div>
    <div class= "allcontain">
        <div id="searchid" class="search">
            {% block search %}
            {% endblock %}
        </div>
        <div class="display">
            {% block content %} 
            {% endblock %}
        </div>
        <div class="recommend">
            
        </div>
    </div>

</body>
    <!-- <a id="staff" href="{% url 'staff_account' %}"><footer>Staff Access </footer></a> -->
</html>