{% extends 'rentals/header.html' %}

{% block style%}
class = "bg1"
{% endblock %}




{% block content %}


  <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    
    <title>Interactive maps for Django web apps</title>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.css' rel='stylesheet' />

    <style>
        body { margin:0; padding:0; }
        #map { position:center; top:0; bottom:0; width:100%; }
    </style>

  </head>
  <body>
    
   <h1 style='text-align: center; padding-bottom: 1%; padding-top: 1%;'>Center Locations</h1>
   
   <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.css' type='text/css' />

   <div id='map' style='width: 90%; height: 80%; margin-left: auto; margin-right: auto;' ></div>
<script>
    mapboxgl.accessToken = 'pk.eyJ1Ijoiam9uYXRoYW55amkiLCJhIjoiY2pudTdudTliMGRmejNrbDRvZ2RscmlseSJ9._jW6wGoF6rYjhfDCBI09QA';
    var map = new mapboxgl.Map({
        container: 'map', // container id
    style: 'mapbox://styles/mapbox/streets-v9',
    center: [153.0251, -27.4698], // starting position
    zoom: 5 // starting zoom
    });

    //Map search bar
    map.addControl(new MapboxGeocoder({
    accessToken: mapboxgl.accessToken
    }));
    map.on('load', function () {
    // Add a layer showing the places.
    map.addLayer({
        "id": "places",
        "type": "symbol",
        "source": {
            "type": "geojson",
            "data": {
                "type": "FeatureCollection",
                "features": [{
                    "type": "Feature",
                    "properties": {
                        "description": "<strong>Alexandria store</strong><p>3761 14th St, Alexandria, NWS <br>Open hour: 9am-5pm<br>Contact:1 (11) 543 535-0162</p>",
                        "icon": "car"
                    },
                    "geometry": {
                        "type": "Point",
                        "coordinates": [151.197636, -33.902370]
                    }
                }, {
                    "type": "Feature",
                    "properties": {
                        "description": "<strong>Coffs Harbour store</strong><p>2243 W St, Coffs Harbour, NSW</p><p>Open hour: 9am-5pm</p><p>Contact: 1 (11) 543 535-0110</p>",
                        "icon": "car"
                    },
                    "geometry": {
                        "type": "Point",
                        "coordinates": [153.109415, -30.298653]
                    }
                }, {
                    "type": "Feature",
                    "properties": {
                        "description": "<strong>Springwood store</strong><p>244 Willow Pass Road, Springwood, NSW</p><p>Open hour: 9am-5pm</p><p>Contact: 208-535-0142</p>",
                        "icon": "car"
                    },
                    "geometry": {
                        "type": "Point",
                        "coordinates": [150.576382, -30.696064]
                    }
                }, {
                    "type": "Feature",
                    "properties": {
                        "description": "<strong>Lane Cove_store</strong><p>7553 Harness Circle, Lane Cove, NSW</p><p>Open hour: 9am-5pm</p><p>Contact: 1 (11) 543 535-0131</p>",
                        "icon": "car"
                    },
                    "geometry": {
                        "type": "Point",
                        "coordinates": [151.167615, -33.814859]
                    }
                }, {
                    "type": "Feature",
                    "properties": {
                        "description": "<strong>Goulburn store</strong><p>1825 Village Pl, Goulburn, NSW</p><p>Open hour: 9am-5pm</p><p>Contact: 1 (11) 543 535-0162</p>",
                        "icon": "car"
                    },
                    "geometry": {
                        "type": "Point",
                        "coordinates": [149.714123, -34.753881]
                    }
                }, {
                    "type": "Feature",
                    "properties": {
                        "description": "<strong>Lane Cove store</strong><p>7553 Harness Circle, Lane Cove, NSW</p><p>Open hour: 9am-5pm</p><p>Contact: 1 (11) 543 535-0131</p>",
                        "icon": "car"
                    },
                    "geometry": {
                        "type": "Point",
                        "coordinates": [152.813290, -25.278582]
                    }
                }, {
                    "type": "Feature",
                    "properties": {
                        "description": "<strong>Brisbane store</strong><p>7832 Landing, Brisbane, QLD</p><p>Open hour: 9am-5pm</p><p>Contact: 262-535-0112</p>",
                        "icon": "car"
                    },
                    "geometry": {
                        "type": "Point",
                        "coordinates": [153.024095, -27.481530]
                    }
                }, {
                    "type": "Feature",
                    "properties": {
                        "description": "<strong>Hobart store</strong><p>636 Vine Hill Way, Hobart, Tasmania</p><p>Open hour: 9am-5pm</p><p>Contact: 1 (11) 543 535-0182</p>",
                        "icon": "car"
                    },
                    "geometry": {
                        "type": "Point",
                        "coordinates": [147.328264, -42.882817]
                    }
                }, {
                    "type": "Feature",
                    "properties": {
                        "description": "<strong>Melbourne store</strong><p>5167 Condor Place, Melbourne, VIC</p><p>Open hour: 9am-5pm</p><p>Contact: 1 (11) 543 535-0136</p>",
                        "icon": "car"
                    },
                    "geometry": {
                        "type": "Point",
                        "coordinates": [145.207680, -38.024514]
                    }
                }]
            }
        },
        "layout": {
            "icon-image": "{icon}-15",
            "icon-allow-overlap": true
        }
    });

    // When a click event occurs on a feature in the places layer, open a popup at the
    // location of the feature, with description HTML from its properties.
    map.on('click', 'places', function (e) {
        var coordinates = e.features[0].geometry.coordinates.slice();
        var description = e.features[0].properties.description;

        // Ensure that if the map is zoomed out such that multiple
        // copies of the feature are visible, the popup appears
        // over the copy being pointed to.
        while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
            coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
        }

        new mapboxgl.Popup()
            .setLngLat(coordinates)
            .setHTML(description)
            .addTo(map);
    });

    // Change the cursor to a pointer when the mouse is over the places layer.
    map.on('mouseenter', 'places', function () {
        map.getCanvas().style.cursor = 'pointer';
    });

    // Change it back to a pointer when it leaves.
    map.on('mouseleave', 'places', function () {
        map.getCanvas().style.cursor = '';
    });
});



// Add zoom and rotation controls to the map.
map.addControl(new mapboxgl.NavigationControl());


// Add geolocate control to the map.
        map.addControl(new mapboxgl.GeolocateControl({
        positionOptions: {
        enableHighAccuracy: true
    },
        trackUserLocation: true
    }));



</script>

    




</body>

{% endblock %}

