{% extends 'rentals/layout.html' %}

{% block content %}
  <p id="email">
    We've emailed you instructions for resetting your password, if an account exists with the email you entered.
    You should receive them shortly.
  </p>
  <p>
    If you don't receive an email, please make sure you've entered the right email address or check your spam folder.
  </p>
{% endblock %}