{% extends 'rentals/layout.html' %}

{% block content %}
  <h3 id="changepass">Change password</h3>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Send email reset">
  </form>
{% endblock %}