{% extends 'rentals/layout.html' %} {% load static %} {% block style%} class = "bg2" {% endblock %} 

{% block content %}
  <p>
    Your password has been reset. You may now go ahead and <a href="{% url 'login' %}">login</a>.
  </p>
{% endblock %}