{% extends 'rentals/staff_layout.html' %}
{% block style%}
class = "bg2"
{% endblock %}
{% block search %}
    <p></p>
{% endblock %}
{% if error_message %}
<div class="alert">
<p><strong>{{ error_message }}</strong></p>
</div><br>
{% endif %}
{% block content %}
    <style>
    #searchid {visibility: hidden}
    </style>
<br>
<br>
    <form action = "{% url 'return_car' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
<br> 
<br>
<form id="back1">
  <input id='backbutton' type="button" value="Go back" onclick="history.back()">
</form>
{% endblock %}
