{% extends 'rentals/layout.html' %}
{% load static %}

{% block style%}
class = "bg2"
{% endblock %}

{% block search %} 
    <style>
        label {
    display: inline;
    
}
</style>
    <form id="searchform" action = "{% url 'search' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Search">
    </form>
    
{% endblock %}

{% block content %}
<ol>
    {% for car in searched%}
    <div id='searchdiv'>
        <a id="searchlinks" href="{% url 'car_detail' car.car_id %}">
         <div class="lefhalf"><img id="questionmark" src="{% get_static_prefix %}image/Car/{{car.car_makename}}/{{car.car_makename}}{{car.car_model}}.jpg"  class = "icon"></div>
        <div class="righthalf">
            
                <li id="singleli">{{car.car_makename|capfirst}} {{car.car_model}}</li>
            
            <p id="features"><b>Features:</b> {{car.car_fuelsystem}} {{car.car_bodytype}} {{car.car_standardtransmission}}</p>
            <p id="series"><b>Series:</b> {{car.car_series}}</p>
            <p id="capacity"><b>Capacity: </b>{{car.car_seatingcapacity}} seats {{car.car_tankcapacity}}</p>
            </a>
        </div>
    </div>
    {% endfor %}
</ol>
<!-- <h1>Hello from index</h1> -->
{% endblock %}