{% extends 'rentals/staff_layout.html' %}
{% load static %}

{% block style%}
class = "bg2"

{% endblock %}
{% block content %}

<strong>Staff Portal</strong></p>
<br>
</br>
<p><strong>Data Summary</strong></p>
<table id="DataSummary">
  <tr>
   <!--When a header is clicked, run the sortTable function, with a parameter, 0 for sorting by names, 1 for sorting by country:-->  
    <th>Data</th>
    <th>Total</th>
  </tr>
  <tr>
    <td>{{labels.0}}</td>
    <td>{{customers}}</td>
    <td><form action = "{% url 'edit_customer' %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Edit Customers">
    </form>    </td>
  </tr>
  <tr>
    <td>{{labels.1}}</td>
    <td>{{cars}}</td>
    <td><form action = "{% url 'edit_car' %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Edit Cars">
    </form>    </td>
  </tr>
   <tr>
    <td>{{labels.2}}</td>
    <td>{{orders}}</td>
    <td><form action = "{% url 'edit_order' %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Edit Orders">
    </form>    </td>
  </tr>
  <tr>
    <td>{{labels.3}}</td>
    <td>{{stores}}</td>
    <td><form action = "{% url 'edit_store' %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Edit Stores">
    </form>    </td>
  </tr>
  

</table>


    <style>
    #searchid {visibility: hidden}
    table {
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
        }

        th {
    cursor: pointer;
        }

        th, td {
    text-align: left;
    padding: 16px;
        }

        tr:nth-child(even) {
    background-color: #f2f2f2
        }
    </style>
<a id="aa"  href="{% url 'new_customer' %}"> 
<div id="extrabuttons">

    New Customer Pickup 
    
</div>
        </a>

<a id="aa" href="{% url 'pickup_car' %}">
<div id="extrabuttons">

     Pickup 
    
</div>
    </a>
<a id="aa" href="{% url 'return_car' %}"> 
<div id="extrabuttons">

    Return 
</div>
    </a>

    <form action = "{% url 'data_report_car' %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Most Rented Car">
    </form>    
    
    <form action = "{% url 'data_report_type' %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Most Rented Type">
    </form>    
    
    <form action = "{% url 'data_report_location' %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Location Rental History">
    </form> 
    
    {% if messages %}
    {% for message in messages %}
    <script>
            var message = '{{ message }}';
            alert('{{ message }}');
</script>
    {% endfor %}
            
{% endif %}
{% endblock %}

