{% extends 'rentals/user_layout.html' %}
{% load static %}
{% block style%}
class = "bg2"
{% endblock %}
{% block content %}
<style>
    #searchid {visibility: hidden}
    #backbutton {}
</style>
<script>
    var message = '{{ alert }}';
        if ( message == "Updated successfully!!!"){
            alert(message);
        }
</script>
<div class="display_detail">
    <h3>Username: {{ account.user_name|capfirst }}</h3>
    <p>Email address: {{ account.email }}</p>
    <p>Phone number: {{ account.phone_number }}</p>
    <p>D.O.B: {{ account.dob }}</p>
    <p>Street address: {{ account.stress_address }}</p>
    <p>City: {{ account.user_city }}</p>
    <a href="{% url 'edit_profile' %}">Edit Profile</a>
    <p><a href="{% url 'password_reset' %}">Change Password</a></p>
    <p><a href="{% url 'delete_account' %}">Deactivate Account</a></p>
</div>
{% endblock %}

