{% extends 'rentals/user_layout.html' %}
{% block style%}
class = "bg2"
{% endblock %}
{% block content %}
{% if error_message %}
<div class="alert">
<p><strong>{{ error_message }}</strong></p>
</div><br>
{% endif %}
<br> <br>
<style>
    #searchid {visibility: hidden}
    </style>

<form action = "" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>

{% endblock %}



{% block search %}
<p></p>

{% endblock %}
