{% extends 'rentals/layout.html' %}
{% load static %}

        <div class="display">
            {% block content %} 
            {% endblock %}
        </div>
        <div class="recommend">
            <p>third</p>
        </div>
    </div>

</body>
</html>