<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Car Rentals{% endblock %}</title>
    {% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
</head>
<body>
    <header>
        <nav>
            <a href={% url 'index' %}>Home</a> 
            <a href={% url 'data_report' %}>Report</a>
            <a href={% url 'pickup_return' %}>Pickup/Return</a>
            <a href={% url 'login' %}>Login</a>
            <a href={% url 'logout' %}>Logout</a>
            <a href={% url 'create_account' %}>Create acc</a>
        </nav>
    </header>
        <section id="blockbody">
            {% block body %}
            {% endblock %}<br>
        </section>
<!-- Page footer. Consistent across all the pages in the website -->
<footer class="page_footer">
		 &copy; Team24 IFB299 - 2018 Semester Two
</footer>
</body>

</html>
