{% load static %}
<html lang="en-US">
<html>
<head>
	<meta charset="UTF-8">
	<title>Car Rental </title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" type="text/css" href="{% static 'style/mystyle.css' %}">
</head>
<body class = "bg">
    <div class= "allcontain">
        <div class = "header">
            <img src="{% static 'image/icon.png' %}"  class = "icon">
            <ul class = "logreg">
                <li><a href="#">Login </a> </li>
                <li><a href="#"><span class="register">Register</span></a></li>
            </ul>
        </div>
    </div>
    <div class= "allcontain">
        <div class="search">
            <p>first</p>
        </div>
        <div class="display">
            {% block content %} 
            {% endblock %}
        </div>
        <div class="recommend">
            <p>third</p>
        </div>
    </div>

    
</body>
</html>