/* ---------------- PAGE RESET ------------ */
*{
	margin: 0;
	padding: 0;
	/*border: 1px solid red;*/
	
}
/* ---------------- UNIVERSAL STYLES ------------ */
body{
	font-family: 'Roboto', sans-serif;
}
nav {
    background-color: #0984e3;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Link styles in nav */
nav a {
    
    display: inline-flex;
    justify-content: center;
    color: #450F1A;

    text-align: center;
    padding: 2% 2.5%;
    height:3%;
    text-decoration: none;
    font-size: 1em;
    width: 10%;
}
/* Change color of links on hover */
nav a:hover {
    background-color: #74b9ff;
    color: white;
}
/* 
Make dyanamic active class for this to work
Different color for active link
nav a.active {
    background-color: #4CAF50;
    color: white;
}
 */


h1 {
    padding-top: 1%;
    padding-bottom: 2%;
}

h3 {
    padding-top: 1%;
    padding-bottom: 2%;
    font-size: 3em;
}

html,
body {
    height: 100%;
}

#blockbody {
    background-color: whitesmoke;
    min-height: 80%;
    text-align: center;
    
    margin: auto;
    width: 60%;
    
}
footer {

    width: 20%;
    text-align: center;
    margin: auto;
}