{% extends 'rentals/header.html' %}

{% block body %}
<h3>Recommended cars to go on homepage</h3>
<ul>
    {% for car in cars%}
    <li>{{car.car_makename}}</li>
    {% endfor %}
</ul>

{% endblock%}
