
.bg1 {
     background-image: url("../image/background.jpg"); 
    background-size:contain;
    background-size: cover;
/*    width: 100%;*/
    height: 100%;
}
.bg2 {
    background-color: #f5f6fa;
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#DataSummary1 {
    margin-left: -40%;
}

.allcontain{
    width: 100%;
/*    height: 100%;*/
    position: relative;
}
.header{
    background-color: #ffd700;
    width: 100%;
    height: 60px;
    border-collapse: collapse;
	display: flex;
    justify-content: space-between;
}

.icon{
    padding-top: 5px;
    height: 50px;
    float: left;
}
.logreg{
 	list-style-type: none;
	font-family: 'Noticia Text';
	font-size: 12pt;
	color: #E7E7E7;
	margin-bottom: 0px;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-right: 2.5vw;
}
.logreg>li{
    float: left;
    margin-top: 9%;
}
.logreg>li>a{
	text-decoration: none;
	color: dodgerblue;
	padding-left: 20px;
}
a#staff {
    text-decoration: none;
    
    text-align: center;
    color: dodgerblue;
}
li#locations {
    margin-right: 5vw;
}
.logreg .register{

}
/*----------------------End Header --------------------*/
.search {
    width: 20%;
    min-width: 300px;
/*    height: 100%;*/
    float: left;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: right;
    margin-top: 10%;
    margin-right: 5%;
    background-color: yellow;
/*    border-collapse: collapse;*/
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 0 25px 25px 0;
}


.display {
    width: 50%;
    float: left;
/*    border-collapse: collapse;*/
}
.recommend {
    width: 25%;
/*    height: 100%;*/
    float: right;
    position: relative;
/*    border-collapse: collapse;*/
}

.footer {
    clear: both;
    position: fixed;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
}
footer {
    padding-top: 8px;
    bottom: 0;
    position: fixed;
    height: 30px;
    right: 0;
    text-align: center;
    width: 200px;
    background-color: #ffd700;
}


.lefhalf {
   
    width: 30%;
    height: 20%;
    float: left;
    margin-bottom: 10px;
    min-height: 15%;
    background-color: rgba(255, 255, 255, 0.6);
    min-height: 175px;
}

.righthalf {
   
    width: 70%;
    height: 20%;
    float: right;
     margin-bottom: 10px;
    min-height: 15%;
    background-color: rgba(255, 255, 255, 0.6);

    min-height: 175px;
}
.righthalf p {
    color: black;
    padding-top: 2%;
}

.display_detail {
    width: 100%;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 5% 2%;
    text-align: center;
}
.display_detail p {
    padding-top: 1%;
    
}
.display_detail h3 {
    padding-top: 5%;
    
}
#questionmark {
    margin-left: 50%;
    margin-top: 25%;
}
#searchlinks {
    text-decoration: none;
}
h3#changepass {
    margin-left: 15%;
    padding-bottom: 10vh;
    padding-top: 5vh;
}
ol li {
    padding-top: 5%;
    font-size: 20px;
    color: black;
}
#searchdiv {
    margin-top: 50px;
}
#email {
    padding-top: 5%;
}
#capacity {
    padding-bottom: 6%;
}

#resetpass {
    text-align: center;
    margin: auto;
    min-width: 200px;
    margin-right: 5vw;
}
#welcome {
    background-color: rgba(255, 255, 255, 0.6);
    width: 30%;
    text-align: center;
    margin: auto;
    padding: 10px 5px;
    margin-top: 10px;
}
#rec {
    background-color: rgba(255, 255, 255, 0.6);
    width: 99%;
    text-align: center;
    margin: auto;
    padding: 10px 5px 10px 5px;
    margin-top: 10px;
}
/* staff */

#outputs {
    
    text-align: center;
}

#extrabuttons {
    width: 55%;
    background-color: #f5f6fa;
    color: black;
    padding: 14px 20px;
    margin-top: 7%;
    margin-bottom: 4%;
    min-width: 250px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
     border: 1px solid #ffd700;
    margin-left: 15%;
    text-align: center;
    text-decoration: none;
    
    text-align: center;
    color: black;
}
#aa{
    text-decoration: none;
    
    text-align: center;
    color: black;
}
#extrabuttons:hover {
    background-color: #ffd700;
   
   
}
div#extrabuttons a{
    text-decoration: none;
    
    text-align: center;
    color: black;
}
input[type=text], input[type=number], input[type=password], select, input[type=email] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    min-width: 250px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 70%;
    background-color: #f5f6fa;
    color: black;
    padding: 14px 20px;
    margin-top: 5%;
    margin-bottom: 5%;
    min-width: 250px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
     border: 1px solid #ffd700;
   
}

input[type=submit]:hover {
    background-color: #ffd700;
   
   
}
label {
    display: block;
    
}
form {
    margin-left: 15%;
}
form#back {
    margin-left: 0%;
}
form#back1 {
    margin-left: 35%;
}
div#searchid form {
    margin-left: 10%;
}
/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}
input[type=text]:focus , input[type=number]:focus , select:focus, input[type=password]:focus,input[type=email]:focus {
     border: 1px solid #ffd700;
}
#backbutton {
    margin-left: 0;
    width: 30%;
    background-color: #f5f6fa;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    margin-top: 5%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
     border: 1px solid #ffd700;
}
#backbutton:hover {
    background-color: #ffd700;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}


